<% include ../partials/header %>

<div id="login-form" class="ui middle aligned center aligned grid">
	<div id="login-form-inner" class="column">
		<h2 class="ui teal header">
			<div class="content">
				<%= trans.LOGIN_TO_ACC %>
			</div>
		</h2>
		<form action="/login" class="ui large form" method="POST">
			<div class="ui stacked segment">
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" name="username" placeholder="<%= trans.USERNAME %> (admin)">
					</div>
				</div>
	
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" name="password" placeholder="<%= trans.PASSWORD %> (admin)">
					</div>
				</div>
	
				<button class="ui fluid large teal submit button"><%= trans.SUBMIT %></button>
			</div>
			<div class="ui error message"></div>
		</form>
	</div>
</div>

<script src="/scripts/formValidation/login.js"></script>

<% include ../partials/footer %>
