<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>

	<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/toastr.min.css">

	<script src="/scripts/jquery-3.3.1.min.js"></script>
	<script src="/semantic/semantic.min.js"></script>
	<script src="/scripts/toastr.min.js"></script>
</head>
<body>

	<% if(typeof noNav === "undefined" || !noNav) { %>
		<div class="banner">
			<div class="ui text segment container">
				<h1 class="ui header"><%= trans.APP_NAME %></h1>
				<p><%= trans.APP_DESC %></p>
			</div>
		</div>
		
		<div class="ui menu" id="stickynav">
			<div class="ui container navbar">
				<div href="/" class="header item">
					<%= trans.APP_NAME %>
				</div>
				<a href="/batches" class="item"><%= trans.BATCHES %></a>
				<a href="/clients" class="item"><%= trans.CLIENTS %></a>
		
				<div class="right menu">
					<a href="?clang=en" class="ui small item"><i class="united kingdom flag"></i></a>
					<a href="?clang=et" class="ui item"><i class="estonia flag"></i></a>
					<a href="/logout" class="ui item"><%= trans.LOGOUT %></a>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(stickNavBar);

			function stickNavBar() {
				$("#stickynav").sticky({
					context: "#maincontent"
				});
			}
		</script>
	<% } %>
	
	