<div class="ui modal">
		<div class="header"><%= trans.NEW_CLIENT %></div>
		<div class="content">
			<form onsubmit="return false;" class="ui form" id="clientForm">
				<div class="required field">
					<label><%= trans.NAME %></label>
					<input type="text" name="client[name]" placeholder="<%= trans.NAME %>" id="clientName">
				</div>
				<div class="two fields">
					<div class="ten wide field">
						<label><%= trans.EMAIL %></label>
						<input type="email" name="client[email]" placeholder="<%= trans.EMAIL %>" id="clientEmail">
					</div>
					<div class="six wide field">
						<label><%= trans.PHONE_NR %></label>
						<input type="text" name="client[phoneNumber]" placeholder="<%= trans.PHONE_NR %>" id="clientPhoneNumber">
					</div>
				</div>
				<div class="ui error message"></div>
			</form>
		</div>
		<div class="actions">
			<div class="ui cancel button"><%= trans.CANCEL %></div>
			<div class="ui positive button"><%= trans.CREATE_CLIENT %></div>
		</div>
</div>

<script src="/scripts/newClientPartial.js"></script>