<% include ../partials/header %>

<div class="ui container" id="maincontent">
	<div class="ui raised segment">

		<h1 class="ui dividing header"><%= trans.BATCHES %></h1>

		<form class="ui form" action="/batches/" method=GET>
			<div class="fields">
				<!-- Type dropdown -->
				<div class="five wide field">
					<label><%= trans.BATCH_TYPE %></label>
					<div id="typeDropdown" class="ui search selection dropdown">
						<input type="hidden" name="type" value="<%= search.type %>">
						<i class="dropdown icon"></i>
						<div class="default text">
							<%= trans.BATCH_TYPE %>
						</div>
						<div class="menu">
							<div class="item" data-value="">-</div>
							<% types.forEach(function(type) { %>
								<div class="item" data-value="<%= type %>">
									<%= trans[type] %>
								</div>
							<% }); %>
						</div>
					</div>
				</div>

				<div class="three wide field">
					<label><%= trans.BATCH_CULTURE %></label>
					<input type="text" name="culture" value="<%= search.culture %>">
				</div>
				<div class="three wide field">
					<label><%= trans.BATCH_SPECIES %></label>
					<input type="text" name="species" value="<%= search.species %>">
				</div>
				<div class="five wide field">
					<label>&nbsp;</label>
					<button type="submit" class="ui primary fluid button"><%= trans.SEARCH %></button>
				</div>
			</div>
		</form>
		
		<div class="ui link relaxed divided list">
			<% batches.forEach(function(batch) { %>
				<a href="/batches/<%= batch._id %>" class="item">
					<div class="right floated content">
						<p><%= batch.createdAt.toUTCString() %></p>
					</div>
					<i class="large barcode middle aligned icon"></i>
					<div class="content">
						<div class="header">
							<%= trans[batch.type] %> - <%= batch.client.name %>
						</div>
						<div class="description">
							<%= batch.culture %> - <%= batch.species %>
						</div>
					</div>
				</a>
			<% }) %>
		</div>
		
		<div class="ui pagination menu">
			<% for(let i = 0; i < pageCount; i++) { %>
				<a href="/batches?page=<%= i+1 %>&type=<%= search.type %>&culture=<%= search.culture %>&species=<%= search.species %>" class="<% if(page == (i+1)) { %> active <% } %>item"><%= i+1 %></a>
			<% } %>
		</div>
		<br>
		<br>
		<a href="/batches/new" class="ui blue button"><%= trans.NEW_BATCH %></a>
	</div>
</div>

<script>
	$("#typeDropdown").dropdown();
</script>


<% include ../partials/footer %>