<% include ../partials/header %>

<div class="ui container" id="maincontent">
	<form class="ui form" action="/batches" id="batchForm" method="POST">
		<h4 class="ui dividing header"><%= trans.NEW_INC_BATCH %></h4>
		<div class="ui blue segment raised">
			<div class="ui error message"></div>
	
			<div class="two fields">
				<div class="twelve wide required field">
					<label><%= trans.CLIENT %></label>
					<div id="clientDropdown" class="ui search selection dropdown">
						<input type="hidden" name="batch[client]">
						<i class="dropdown icon"></i>
						<div class="default text"><%= trans.CLIENT %></div>
						<div id="clientMenu" class="menu">
							<% clients.forEach(function(client) { %>
								<div class="item" data-value="<%= client._id %>"><%= client.name %></div>
							<% }); %>
						</div>
					</div>
				</div>
				<div class="four wide field">
					<label>&nbsp;</label>
					<div class="ui fluid teal button" id="newClientBtn"><%= trans.NEW_CLIENT %></div>
				</div>
			</div>
	
			<div class="three fields">
				<div class="six wide required field">
					<label><%= trans.BATCH_TYPE %></label>
					<div id="typeDropdown" class="ui search selection dropdown">
						<input type="hidden" name="batch[type]">
						<i class="dropdown icon"></i>
						<div class="default text"><%= trans.BATCH_TYPE %></div>
						<div class="menu">
							<% types.forEach(function(type) { %>
								<div class="item" data-value="<%= type %>"><%= trans[type] %></div>
							<% }); %>
						</div>
					</div>
				</div>
				<div class="five wide required field">
					<label><%= trans.BATCH_CULTURE %></label>
					<input type="text" name="batch[culture]" placeholder="<%= trans.BATCH_CULTURE %>" id="cultureInput">
				</div>
				<div class="five wide required field">
					<label><%= trans.BATCH_SPECIES %></label>
					<input type="text" name="batch[species]" placeholder="<%= trans.BATCH_SPECIES %>" id="speciesInput">
				</div>
			</div>
		</div>

		<div class="ui brown right floated segment raised">
			<h4 class="ui dividing header"><%= trans.BAGS %></h4>
			<div class="ui tiny form" id="bagForm">
				<div class="field">
					<div id="newBagBtn" class="ui olive right labeled icon fluid button" data-tooltip="Press <tab> when in the last field to add a bag." style="min-width: 370px;">
						<i class="plus icon"></i>
						<%= trans.ADD_BAG %>
					</div>
				</div>
			</div>
		</div>

		<div class="ui green left floated segment compact raised">
			<div class="ui buttons">
				<a href="/batches" class="ui button"><%= trans.BACK %></a>
				<div class="or"></div>
				<button class="ui positive button" type="submit"><%= trans.CREATE_BATCH %></button>
			</div>
		</div>
	</form>
</div>

<% include ../partials/newClient %>

<script src="/scripts/batches/new.js"></script>

<% include ../partials/footer %>