<% include ../partials/header %>

<div class="ui container stackable grid" id="maincontent">
	<div class="ui row">
		<div class="sixteen wide column">
			<% include ./showMain %>
		</div>
	</div>
	<div class="ui row">
		<div class="ten wide column">
			<% include ./showOutputs %>
		</div>

		<div class="six wide column">
			<% include ./showBags %>
		</div>
	</div>
</div>

<div class="ui page dimmer">
	<div class="content">
		<div class="center">
			<div class="ui inverted icon header">
				<i class="spinner loading icon"></i>
				<%= trans.CHANGES_BEING_SAVED %>
			</div>
		</div>
	</div>
</div>

<div id="deleteModal" class="ui basic modal">
	<div class="ui icon header">
		<i class="trash icon"></i>
		<%= trans.DELETE_BATCH %>
	</div>
	<div class="content" style="text-align: center">
		<p>
			<%= trans.BATCH_DELETE_CONFIRM %>
		</p>
	</div>
	<div class="actions">
		<div class="ui red basic cancel inverted button">
			<i class="remove icon"></i>
			<%= trans.NO %>
		</div>
		<div class="ui green ok inverted button">
			<i class="checkmark icon"></i>
			<%= trans.YES %>
		</div>
	</div>
</div>

<form id="deleteForm" style="visibility: none;" action="/batches/<%= batch._id %>?_method=DELETE" method=POST></form>

<% include ../partials/newClient %>
<script src="/scripts/batches/show.js"></script>

<% include ../partials/footer %>