<div class="ui brown segment raised">
	<h3 class="ui dividing header">
		<%= trans.BAGS %>
	</h3>
	<form onsubmit="return false;" class="ui tiny form" id="bagForm">
		<div class="three fields">
			<div class="six wide field">
				<div id="editBagsBtn" class="ui yellow labeled icon fluid button">
					<i class="edit icon"></i>
					<%= trans.EDIT_BAGS %>
				</div>
			</div>
			<div class="four wide field">
				<div id="cancelBagsBtn" class="bagsEditing ui disabled fluid button">
					<%= trans.CANCEL %>
				</div>
			</div>
			<div class="six wide field">
				<div id="updateBagsBtn" class="bagsEditing ui disabled green labeled icon fluid button">
					<i class="checkmark icon"></i>
					<%= trans.SAVE %>
				</div>
			</div>
		</div>

		<div class="field">
			<div id="newBagBtn" class="bagsEditing ui disabled olive right labeled icon fluid button" data-tooltip="<%= trans.ADD_BAG_TOOLTIP %>">
				<i class="plus icon"></i>
				<%= trans.ADD_BAG %>
			</div>
		</div>

		<% batch.bags.forEach(function(bag) { %>
			<div id="bag<%= bag._id %>" class="bagSlot">
				<div class="three fields">
					<div class="seven wide field">
						<label>
							<%= trans.NUMBER %>
						</label>
						<input id="bagNrField" readonly="" class="lastBagField bagReadonly" type="number" name="bags[<%= bag._id %>][number]" value="<%= bag.number %>">
					</div>
					<div class="seven wide field">
						<label>
							<%= trans.WEIGHT %>
						</label>
						<input id="bagWeightField" readonly="" class="lastBagField bagReadonly" type="number" name="bags[<%= bag._id %>][weight]" value="<%= bag.weight %>">
					</div>
					<div class="two wide field">
						<label>&nbsp;</label>
						<div class="bagsEditing ui disabled tiny icon red button removeBag" value="<%= bag._id %>">
							<i class="minus icon"></i>
						</div>
					</div>
				</div>
			</div>
		<% }) %>
	</form>
</div>

<script src="/scripts/batches/showBags.js"></script>