<div class="ui blue raised segment">
	<form onsubmit="return false;" class="ui form" id="mainForm">
		<input id="batchID" type="hidden" name="batch[_id]" value="<%= batch._id %>">
		<div class="fields">
			<div class="two wide field">
				<button id="deleteMainBtn" class="ui labeled icon fluid red button">
					<i class="trash icon"></i>
					<%= trans.DELETE %>
				</button>
			</div>
			<div class="six wide field"></div>
			<div class="three wide field">
				<button id="editMainBtn" class="ui labeled icon fluid yellow button">
					<i class="edit icon"></i>
					<%= trans.EDIT %>
				</button>
			</div>
			<div class="two wide field">
				<button id="cancelMainBtn" class="mainEditing ui disabled fluid button">
					<%= trans.CANCEL %>
				</button>
			</div>
			<div class="three wide field">
				<button id="updateMainBtn" class="mainEditing ui labeled icon disabled fluid green button">
					<i class="checkmark icon"></i>
					<%= trans.SUBMIT %>
				</button>
			</div>
		</div>

		<div class="two fields">
			<div class="twelve wide field">
				<label>
					<%= trans.CLIENT %>
				</label>
				<div id="clientDropdown" class="ui disabled search selection dropdown" style="opacity: 100;">
					<input type="hidden" name="batch[client]" value="<%= batch.client._id %>">
					<i class="dropdown icon"></i>
					<div class="default text">
						<%= trans.CLIENT %>
					</div>
					<div id="clientMenu" class="menu">
						<% clients.forEach(function(client) { %>
							<div class="item" data-value="<%= client._id %>">
								<%= client.name %>
							</div>
							<% }); %>
					</div>
				</div>
			</div>
			<div class="four wide field">
				<label>&nbsp;</label>
				<button id="newClientBtn" style="visibility: hidden;" class="ui fluid teal button">
					<%= trans.NEW_CLIENT %>
				</button>
			</div>
		</div>

		<div class="three fields">
			<div class="six wide field">
				<label>
					<%= trans.BATCH_TYPE %>
				</label>
				<div id="typeDropdown" class="ui disabled search selection dropdown" style="opacity: 100;">
					<input type="hidden" name="batch[type]" value="<%= batch.type %>">
					<i class="dropdown icon"></i>
					<div class="default text">
						<%= trans.BATCH_TYPE %>
					</div>
					<div class="menu">
						<% types.forEach(function(type) { %>
							<div class="item" data-value="<%= type %>">
								<%= trans[type] %>
							</div>
							<% }); %>
					</div>
				</div>
			</div>
			<div class="five wide field">
				<label>
					<%= trans.BATCH_CULTURE %>
				</label>
				<input readonly="" class="mainReadonly" type="text" name="batch[culture]" placeholder="<%= trans.BATCH_CULTURE %>" id="cultureInput"
					value="<%= batch.culture %>">
			</div>
			<div class="five wide field">
				<label>
					<%= trans.BATCH_SPECIES %>
				</label>
				<input readonly="" class="mainReadonly" type="text" name="batch[species]" placeholder="<%= trans.BATCH_SPECIES %>" id="speciesInput"
					value="<%= batch.species %>">
			</div>
		</div>
	</form>
</div>

<script src="/scripts/batches/showMain.js"></script>