<div class="ui green raised segment">
	<h3 class="ui dividing header">
		<%= trans.OUTPUT %>
	</h3>

	<form onsubmit="return false;" class="ui small form" id="outputForm">
		<div class="five fields">
			<div class="three wide field">
				<label><%= trans.END_PRODUCT %></label>
				<input readonly="" class="outputReadonly" type="number" name="output[endProduct]" placeholder="0" value="<%= batch.output.endProduct %>">
			</div>
			<div class="three wide field">
				<label><%= trans.WASTE %></label>
				<input readonly="" class="outputReadonly" type="number" name="output[waste]" placeholder="0" value="<%= batch.output.waste %>">
			</div>
			<div class="three wide field">
				<label><%= trans.OILSEED %></label>
				<input readonly="" class="outputReadonly" type="number" name="output[oilSeed]" placeholder="0" value="<%= batch.output.oilSeed %>">
			</div>
			<div class="three wide field">
				<label><%= trans.DUST %></label>
				<input readonly="" class="outputReadonly" type="number" name="output[dust]" placeholder="0" value="<%= batch.output.dust %>">
			</div>
			<div class="three wide field">
				<label><%= trans.SHELLS %></label>
				<input readonly="" class="outputReadonly" type="number" name="output[shells]" placeholder="0" value="<%= batch.output.shells %>">
			</div>
		</div>
		<div class="four fields">
			<div class="three wide field"> </div>
			<div class="four wide field">
				<div id="editOutputBtn" class="ui yellow labeled icon fluid button">
					<i class="edit icon"></i>
					<%= trans.EDIT %>
				</div>
			</div>
			<div class="four wide field">
				<div id="cancelOutputBtn" class="outputEditing ui disabled disabled fluid button">
					<%= trans.CANCEL %>
				</div>
			</div>
			<div class="four wide field">
				<div id="updateOutputBtn" class="outputEditing ui disabled green labeled icon fluid button">
					<i class="save icon"></i>
					<%= trans.SAVE %>
				</div>
			</div>
		</div>
	</form>
</div>

<script src="/scripts/batches/showOutputs.js"></script>