<% include ../partials/header %>

<div class="ui container" id="maincontent">
	<div class="ui raised segment">
		<h1 class="ui dividing header"><%= trans.CLIENTS %></h1>

		<form class="ui form" action="/clients/" method=GET>
			<div class="fields">
				<div class="three wide field">
					<label><%= trans.NAME %></label>
					<input type="text" name="name" value="<%= search.name %>">
				</div>
				<div class="three wide field">
					<label><%= trans.EMAIL %></label>
					<input type="text" name="email" value="<%= search.email %>">
				</div>
				<div class="three wide field">
					<label><%= trans.PHONE_NR %></label>
					<input type="text" name="phoneNumber" value="<%= search.phoneNumber %>">
				</div>
				<div class="five wide field">
					<label>&nbsp;</label>
					<button type="submit" class="ui primary fluid button"><%= trans.SEARCH %></button>
				</div>
			</div>
		</form>

		<div class="ui link relaxed divided list">
			<% clients.forEach(function(client) { %>
				<a href="/clients/<%= client._id %>" class="item">
					<div class="right floated content">
						<p><%= client.createdAt.toUTCString() %></p>
					</div>
					<i class="large middle aligned address card outline icon"></i>
					<div class="content">
						<div class="header">
							<%= client.name %>
						</div>
						<div class="description">
							<%= client.email %> - <%= client.phoneNumber %>
						</div>
					</div>
				</a>
			<% }) %>
		</div>

		<div class="ui pagination menu">
			<% for(let i = 0; i < pageCount; i++) { %>
				<a href="/clients?page=<%= i+1 %>&name=<%= search.name %>&email=<%= search.email %>&phoneNumber=<%= search.phoneNumber %>" class="<% if(page == (i+1)) { %> active <% } %> item"><%= i+1 %></a>
			<% } %>
		</div>
		<br>
		<br>

		<a href="/clients/new" class="ui blue button"><%= trans.NEW_CLIENT %></a>
	</div>
</div>

<% include ../partials/footer %>