<% include ../partials/header %>

<div class="ui container" id="maincontent">
	<div class="ui raised segment">
		<h1 class="ui dividing header">New client</h1>

		<form id="clientForm" class="ui form" action="/clients" method="POST">
			<div class="field">
				<label><%= trans.NAME %></label>
				<input type="text" name="client[name]" placeholder="<%= trans.NAME %>">
			</div>
			<div class="two fields">
				<div class="ten wide field">
					<label><%= trans.EMAIL %></label>
					<input type="email" name="client[email]" placeholder="<%= trans.EMAIL %>">
				</div>
				<div class="six wide field">
					<label><%= trans.PHONE_NR %></label>
					<input type="text" name="client[phoneNumber]" placeholder="<%= trans.PHONE_NR %>">
				</div>
			</div>
			<div class="fields">
				<div class="field">
					<a href="/clients" class="ui button"><%= trans.CANCEL %></a>
				</div>
				<div class="field">
					<button type="submit" class="ui positive button"><%= trans.SUBMIT %></button>
				</div>
			</div>

			<div class="ui error message"></div>
		</form>
	</div>
</div>

<script src="/scripts/formValidation/client.js"></script>

<% include ../partials/footer %>