<% include ../partials/header %>

<div class="ui container" id="maincontent">
	<div class="ui raised segment">
		<h1 class="ui dividing header"><%= client.name %></h1>

		
		<div class="ui list">
			<div class="item">
				<i class="at icon"></i>
				<div class="content">
					<%= client.email %>
				</div>
			</div>
			<div class="item">
				<i class="phone icon"></i>
				<div class="content">
					<%= client.phoneNumber %>
				</div>
			</div>
		</div>
		<a href="/clients/<%= client._id %>/edit" class="ui labeled icon yellow button">
			<i class="edit icon"></i>
			<%= trans.EDIT %>
		</a>
		<button id="deleteButton" class="ui <% if(batches.length > 0) { %> disabled <% } %> labeled icon red button">
			<i class="trash icon"></i>
			<%= trans.DELETE %>
		</button>
	</div>

	<div class="ui raised segment">
		<h3 class="ui dividing header"><%= trans.BATCHES %></h3>
		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th>Type</th>
					<th>Culture</th>
					<th>Species</th>
				</tr>
			</thead>
			<tbody>
				<% batches.forEach((batch) => { %>
					<tr>
						<td><a href="/batches/<%= batch._id %>"><%= trans[batch.type] %></a></td>
						<td><%= batch.culture %></td>
						<td><%= batch.species %></td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>

<div id="deleteModal" class="ui basic modal">
	<div class="ui icon header">
		<i class="trash icon"></i>
		<%= trans.DELETE_CLIENT %>
	</div>
	<div class="content" style="text-align: center">
		<p><%= trans.CLIENT_DELETE_CONFIRM %></p>
	</div>
	<div class="actions">
		<div class="ui red basic cancel inverted button">
			<i class="remove icon"></i>
			<%= trans.NO %>
		</div>
		<div class="ui green ok inverted button">
			<i class="checkmark icon"></i>
			<%= trans.YES %>
		</div>
	</div>
</div>

<form id="deleteForm" style="visibility: none;" action="/clients/<%= client._id %>?_method=DELETE" method=POST></form>

<script src="/scripts/clients/show.js"></script>
<% include ../partials/footer %>