body {
	background-color: #f9f9f9;
}

#login-form {
	height: 100%;
}

#login-form-inner {
	max-width: 450px;
}

.container {
	padding-top: 40px;
}

#maincontent {
	overflow: auto;
	padding-bottom: 20px;
	padding-top: 40px;
}

.navbar {
	padding-top: 0px;
}

.banner {
	padding-bottom: 15px;
	padding-top: 15px;
	background-image: url("https://images.unsplash.com/photo-1501023453312-ce090afb9e40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14d824a4dcccdaa0bbd288879f63a5e7&auto=format&fit=crop&w=1985&q=80");
	background-repeat: no-repeat;
	background-size: cover;
}

.banner .segment {
	background-color: #e9e9e9e5;
}

.ui.menu {
	margin: 0;
}

.deleteForm {
	display: inline;
}